@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-info text-center">
    <span class="text-white fs-2">
        @ViewData["TempMessage"]
    </span>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
