@model ChangePasswordViewModel
<form asp-action="ChangePassword" method="post">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">UserName:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Old Password:</label>
        <div class="col-md-4">
            <input asp-for="OldPassword" type="password" class="form-control" />
        </div>
        <div class="col-md-3">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">New Password:</label>
        <div class="col-md-4">
            <input asp-for="NewPassword" class="form-control" />
        </div>
        <div class="col-md-3">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Confirm Password:</label>
        <div class="col-md-4">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
        <div class="col-md-3">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
        <div class="col-md-2">
            <a asp-action="Index" asp-area="" asp-controller="Home" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>